<footer>
    <p class="footer-text">ASTROVIEW "Innovation in Astronomical Research through Interactive Visualization and Semi-Automatic Annotation".</p>
    <p class="footer-text">Funded by the European Union – Next Generation EU, as part of the Public Call for the Research Program "Scientific Computing and Simulation Infrastructures" (ICSC), Spoke 3, managed by INAF - National Institute of Astrophysics - PNRR Mission 4 "Education and research" – Component 2 "From research to business" – Investment Line 1.4 - CUPC53C22000350006, by Intellisync S.r.l.</p>
    <div class="footer-logos">
        <img class="eu-logos" src="images/Loghi-sito-980x130.png">
        <a href="https://intellisync.it" target="_blank"><img class="intellisync-logo" src="images/intellisync.png"></a>
    </div>
</footer>