@page "/Help/WorkingWithPixPlot"
@inherits AppPageBase
<PageTitle>Help - Working with PixPlot</PageTitle>
<Breadcrumbs PageName="WorkingWithPixPlot"></Breadcrumbs>

<div class="page-header">
    <span class="page-header-title">Help - Working with PixPlot</span>
</div>